html,
body,
div,
ul,
li,
a,
span,
img,
fieldset,
legend,
label,
select,
option,
textarea,
button {
  margin: 0;
  padding: 0;
}
div#wrapper {
  padding: 14px 15px;
}
div#wrapper ul#popup-box {
  list-style-type: none;
}
div#wrapper ul#popup-box li.popup-item {
  border-top: 1px solid black;
  width: 100px;
  padding: 5px;
  padding-bottom: 7px;
}
div#wrapper ul#popup-box li.popup-item:last-of-type {
  border-bottom: 1px solid black;
}
div#wrapper ul#popup-box li.popup-item:first-of-type > a > span {
  font-weight: bold;
}
div#wrapper ul#popup-box li.popup-item a {
  text-decoration: none;
  color: black;
}
div#wrapper ul#popup-box li.popup-item a img {
  width: 25px;
}
div#wrapper ul#popup-box li.popup-item div.invisible {
  display: none;
}
div#wrapper ul#popup-box li.popup-item div.popup-content {
  position: relative;
}
div#wrapper ul#popup-box li.popup-item div.popup-content a.btn-popup-close {
  padding: 0 5px;
  position: absolute;
  top: -20px;
  left: 291px;
  border-radius: 5px;
  border: 1px solid black;
}
div#wrapper ul#popup-box li.popup-item div.popup-content div fieldset {
  position: absolute;
  top: -35px;
  left: 115px;
  padding: 15px;
  border: 1px solid black;
}
div#wrapper ul#popup-box li.popup-item div.popup-content div fieldset legend {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 2px;
}
div#wrapper ul#popup-box li.popup-item div.popup-content div fieldset button {
  padding: 5px 10px;
  background: #c8c8c8;
  background: -moz-linear-gradient(top, #c8c8c8 0%, #696969 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8c8c8), color-stop(100%, #696969));
  background: -webkit-linear-gradient(top, #c8c8c8 0%, #696969 100%);
  background: -o-linear-gradient(top, #c8c8c8 0%, #696969 100%);
  background: -ms-linear-gradient(top, #c8c8c8 0%, #696969 100%);
  background: linear-gradient(to bottom, #c8c8c8 0%, #696969 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  border-radius: 15px;
  border: none;
}
