html,
body,
div,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 14px;
}
body div#cssmenu {
  width: 680px;
  background: #CFCFCF;
  margin: 20px 10px;
  padding: 0 135px;
  border-bottom: 5px solid #0079B2;
}
body div#cssmenu li {
  display: inline-block;
  font-weight: bold;
  width: 100px;
  margin-right: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
}
body div#cssmenu li ul {
  display: none;
}
body div#cssmenu li:hover {
  cursor: pointer;
}
body div#cssmenu li:hover > ul {
  display: block;
  position: absolute;
  top: 37px;
  left: 0;
  width: 200px;
  background: #CFCFCF;
  border: 2px solid #0079B2;
}
body div#cssmenu li:hover > ul > li {
  width: 90%;
  padding: 10px;
  font-size: 0.9em;
  text-align: left;
}
body div#cssmenu li:hover > ul > li:hover {
  background: gray;
}
body div#cssmenu li:hover > ul > li:hover a {
  color: white;
}
body div#cssmenu li.active {
  background-color: #0079B2;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 25px;
}
body div#cssmenu li.active a {
  color: white;
}
body div#cssmenu li a {
  text-decoration: none;
  color: #70686C;
}
