body nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  body nav ul li {
    display: inline-block; }
body div.image {
  width: 650px; }
  body div.image input[type="radio"], body div.image img {
    display: none; }
    body div.image input[type="radio"]:checked + img, body div.image img:checked + img {
      display: inline-block;
      width: 100%; }

